* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.body {
  max-width: 1800px;
  margin: 0 auto;
  padding: 13.5px;
}

.header {
  width: 100%;
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.header-down {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2.8px;
  color: #ffff;
  font-family: "Josefin Sans", sans-serif;
}
.header-content {
  text-align: center;
  margin: 0 auto;
  padding: 285px 0 140px;
}
.header-content__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px;
  line-height: 26px;
  font-weight: bold;
  letter-spacing: 4.8px;
  color: #ffff;
  margin-bottom: 11px;
}
.header-content__text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 6.82px;
  color: #ffff;
  font-weight: 400;
  margin-bottom: 60px;
  text-align: center;
}

.form {
  margin-bottom: 90px;
}
.form__input {
  width: 503px;
  background-color: #ffff;
  height: 63px;
  padding: 19px 113px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 2.8px;
  font-family: "Josefin Sans", sans-serif;
  margin: 0 -4px 0 0;
}
.form__btn {
  width: 150px;
  height: 63px;
  font-family: "Aleo", serif;
  letter-spacing: 1.4px;
  background-color: #5474fd;
  color: #ffff;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  border: 2px solid #ffff;
  padding-left: 17px;
}
.form__btn:hover {
  background-color: #a9b9fe;
  color: #5474fd;
  box-shadow: inset 0 0 0 3px #5474fd;
  transform: scale(1.1);
}
.form__icon {
  margin-left: 10px;
}

.nav {
  background-color: #5474fd;
  width: 100%;
}
.nav-inner {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-burger {
  display: none;
}

.menu {
  display: flex;
  padding: 27px 0;
}
.menu__link {
  font-family: "Aleo", serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #ffff;
}

.menu-item:not(:last-of-type) {
  margin-right: 43px;
}

.logo-text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 2.4px;
  color: #ffff;
}

.choose {
  background-image: url("../img/s-top.jpg");
  background-size: cover;
  background-position: center;
}
.choose-inner {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.choose-content {
  width: 89%;
  margin: 212px 0 34px;
}
.choose-content__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  font-family: "Aleo", serif;
  color: #ffff;
  margin-bottom: 50px;
}
.choose-content__text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  color: #e8e8e8;
  margin-bottom: 23px;
}

.choose-pic__img-top {
  margin: 0 0 10px 110px;
}
.choose-pic__img-top:hover {
  border: 3px solid #5474fd;
}
.choose-pic__img-bottom {
  margin: 0 0 0 200px;
}
.choose-pic__img-bottom:hover {
  border: 3px solid #5474fd;
}

.icons {
  background-color: #333333;
  position: relative;
}
.icons-inner {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.icons-block {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icons-block__item {
  width: 62px;
  height: 60px;
  margin: 99px 0 37px;
}
.icons-block__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  font-family: "Aleo", serif;
  color: #e8e8e8;
  margin-bottom: 115px;
}

.icons-circle__cantle-right {
  position: absolute;
  top: 11%;
  left: 52%;
  fill: none;
  width: 288px;
  height: 70px;
}
.icons-circle__cantle-left {
  position: absolute;
  top: 11%;
  right: 53%;
  fill: none;
  width: 288px;
  height: 70px;
}

.grand-top {
  background-image: url("../img/s-middle.jpg");
  background-size: cover;
  background-position: center;
}
.grand-top__inner {
  max-width: 1110px;
  margin: 0 auto;
  padding: 227px 0 99px;
}

.grand-bot {
  background-image: url("../img/s-middl2.jpg");
  background-size: cover;
  background-position: center;
}
.grand-bot__inner {
  max-width: 1110px;
  margin: 0 auto;
  padding: 219px 0 99px;
  display: flex;
  justify-content: flex-end;
}

.container-text {
  width: 49%;
  background-color: #232323;
  opacity: 0.9;
  padding: 53px 30px;
}
.container-text__pretitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: #e8e8e8;
  margin-bottom: 23px;
}
.container-text__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: #ffff;
  margin-bottom: 13px;
}
.container-text__text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #e8e8e8;
  margin-bottom: 47px;
}

.testimonial {
  background-image: url("../img/footer.jpg");
  background-size: cover;
  background-position: center;
}
.testimonial-inner {
  max-width: 1110px;
  margin: 0 auto;
  text-align: center;
}
.testimonial__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  font-family: "Aleo", serif;
  color: #ffff;
  padding: 126px 0 91px;
}
.testimonial-content {
  display: flex;
  padding-bottom: 200px;
}
.testimonial-content__info {
  padding: 47px 24px 29px 60px;
  text-align: start;
  background-color: #333333;
}
.testimonial-content__pretitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: #e8e8e8;
  margin-bottom: 13px;
}
.testimonial-content__text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #e8e8e8;
}
.testimonial-content__text_before {
  font-family: "FontAwesome";
  font-size: 36px;
  color: #5474fd;
  margin-right: 12px;
}

.footer {
  background-color: #919191;
  text-align: center;
  padding: 120px 0 52px;
}
.footer__text {
  margin: 8px 0 25px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffff;
  letter-spacing: 1.6px;
}
.footer-icons__icon {
  color: #c8c8c8;
  margin: 0 10px;
}
.footer-icons__icon:hover {
  color: #a9b9fe;
}

.btn {
  width: 228px;
  text-align: center;
  height: 63px;
  background: linear-gradient(45deg, #496bfe 43%, #5474fd 2%);
  padding: 18px 35px;
  margin: 50px 0 95px;
}
.btn__link {
  color: #ffff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.2px;
  font-family: "Aleo", serif;
}
.btn:hover {
  border: 2px solid #ffff;
  transform: scale(1.1);
}

.button {
  width: 228px;
  text-align: center;
  height: 63px;
  background: linear-gradient(45deg, #496bfe 43%, #5474fd 2%);
  padding: 22px 0;
}
.button__link {
  color: #ffff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.2px;
  font-family: "Aleo", serif;
}
.button:hover {
  border: 2px solid #ffff;
  transform: scale(1.1);
}

@media screen and (max-width: 1023px) {
  .form__input {
    width: 400px;
    height: 50px;
    padding: 5px;
    font-size: 11px;
  }
  .form__btn {
    width: 75px;
    height: 50px;
    font-size: 14px;
    padding: 0;
  }
  .form__icon {
    display: none;
  }

  .menu {
    display: none;
  }

  .nav-burger {
    cursor: pointer;
    display: block;
    margin: 30px;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .nav-burger::before {
    content: "";
    background-color: #ffff;
    position: absolute;
    width: 100%;
    height: 2px;
    right: 0;
    top: 0;
    transition: all 0.3s ease 0s;
  }
  .nav-burger::after {
    content: "";
    background-color: #ffff;
    position: absolute;
    width: 100%;
    height: 2px;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease 0s;
  }

  .nav-burger span {
    position: absolute;
    background-color: #ffff;
    width: 100%;
    height: 2px;
    right: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .choose-inner {
    display: block;
  }
  .choose-content {
    margin: 0 auto;
    padding: 100px 20px 0;
  }
  .choose-content__title {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .choose-pic {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .choose-pic__img-top {
    margin: 10px;
  }
  .choose-pic__img-bottom {
    margin: 10px;
  }

  .btn {
    margin: 45px 0;
  }

  .icons-block__item {
    width: 45px;
    height: 45px;
    margin: 30px 0;
  }
  .icons-block__title {
    font-size: 24px;
    margin-bottom: 50px;
  }
  .icons-circle {
    display: none;
  }

  .grand-top__inner {
    padding: 75px 0;
  }

  .grand-bot__inner {
    padding: 75px 0;
  }

  .button {
    width: 60%;
    height: 45px;
    padding: 12px 0;
  }
  .button__link {
    font-size: 11px;
  }

  .testimonial__title {
    font-size: 26px;
    padding: 45px 0;
  }
  .testimonial-content {
    padding-bottom: 50px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .testimonial-content__info {
    width: 80%;
  }
  .testimonial-content__img {
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .header-content {
    padding: 150px 0 50px;
  }
  .header-content__title {
    font-size: 30px;
  }
  .header-content__text {
    font-size: 16px;
    letter-spacing: 4px;
  }

  .form__input {
    width: 200px;
    padding: 5px;
    font-size: 11px;
  }
  .form__btn {
    width: 75px;
    font-size: 14px;
    padding: 0;
  }
  .form__icon {
    display: none;
  }

  .choose-pic__img-top {
    height: 150px;
    margin: 10px auto;
  }
  .choose-pic__img-bottom {
    height: 150px;
    margin: 10px auto;
  }

  .icons-block__item {
    margin: 20px 0;
  }
  .icons-block__title {
    font-size: 14px;
  }

  .grand-top__inner {
    padding: 40px 0;
  }

  .grand-bot__inner {
    padding: 40px 0;
  }

  .container-text {
    width: 60%;
    padding: 10px;
  }
  .container-text__text {
    margin-bottom: 25px;
  }
}