$font-primary: "Josefin Sans", sans-serif;
$font-second: "Aleo", serif;

$logo-size: 24px;
$size-text: 16px;
$size-head: 14px;
$big-title-size: 48px;
$size-text-head: 22px;
$line-height: 26px;
$little-size: 11px;
