.footer {
  background-color: $footer-bkg;
  text-align: center;
  padding: 120px 0 52px;
  &__text {
    margin: 8px 0 25px;
    @include text;
    color: $primary-color;
    letter-spacing: 1.6px;
  }
  &-icons {
    &__icon {
      color: $icon-color;
      margin: 0 10px;
      &:hover {
        color: $hover-color;
      }
    }
  }
}
