.footer {
  background-color: #919191;
  text-align: center;
  padding: 120px 0 52px;
  &__text {
    margin: 8px 0 25px;
    @include text;
    color: $primary-color;
    letter-spacing: 1.6px;
  }
  &-icons {
    &__icon {
      color: #c8c8c8;
      margin: 0 10px;
      &:hover {
        color: #a9b9fe;
      }
    }
  }
}
