@mixin head {
  font-size: $size-head;
  line-height: $line-height;
  font-weight: 400;
}

.header {
  width: 100%;
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  &-down {
    font-size: $size-head;
    line-height: 20px;
    letter-spacing: 2.8px;
    color: $primary-color;
    font-family: $font-primary;
  }

  &-content {
    text-align: center;
    margin: 0 auto;
    padding: 304px 0 140px;
    &__title {
      font-family: $font-primary;
      font-size: $big-title-size;
      line-height: $line-height;
      font-weight: bold;
      letter-spacing: 4.8px;
      color: $primary-color;
      margin-bottom: 11px;
    }
    &__text {
      font-family: $font-primary;
      font-size: $size-text-head;
      line-height: $line-height;
      letter-spacing: 6.82px;
      color: $primary-color;
      font-weight: 400;
      margin-bottom: 48px;
      text-align: center;
    }
  }
}
.form {
  margin-bottom: 110px;
  &__input {
    width: 503px;
    background-color: $primary-color;
    height: 63px;
    padding: 19px 113px;
    @include head;
    letter-spacing: 2.8px;
    font-family: $font-primary;
    margin: 0 -4px 0 0;
  }

  &__btn {
    width: 150px;
    height: 63px;
    font-family: $font-second;
    letter-spacing: 1.4px;
    background-color: $bkg-btn;
    color: $primary-color;
    @include head;
    border: 2px solid $primary-color;
    padding-left: 17px;
    &:hover {
      background-color: $hover-color;
      color: $bkg-btn;
      box-shadow: inset 0 0 0 3px $bkg-btn;
      transform: scale(1.1);
    }
  }
  &__icon {
    margin-left: 10px;
  }
}
