.nav {
  background-color: #5474fd;
  width: 100%;

  &-inner {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-burger {
    display: none;
  }
}
.menu {
  display: flex;
  padding: 27px 0;
  &__link {
    font-family: $font-second;
    font-size: 14px;
    line-height: 26px;
    color: $primary-color;
  }
}
.menu-item:not(:last-of-type) {
  margin-right: 43px;
}
