@mixin btn {
  width: 228px;
  text-align: center;
  height: 63px;
  background: linear-gradient(
    45deg,
    rgb(73, 107, 254) 43%,
    rgb(84, 116, 253) 2%
  );
}
@mixin link {
  color: $primary-color;
  @include text;
  letter-spacing: 1.2px;
  font-family: $font-second;
}
.btn {
  @include btn;
  padding: 18px 35px;
  margin: 50px 0 95px;
  &__link {
    @include link;
  }
  &:hover {
    border: 2px solid $primary-color;
    transform: scale(1.1);
  }
}
.button {
  @include btn;
  padding: 22px 0;
  &__link {
    @include link;
  }
  &:hover {
    border: 2px solid $primary-color;
    transform: scale(1.1);
  }
}
